<!-- views/partials/shortList.ejs (サンプル) -->
<div class="container">
    <h1>切り抜き一覧</h1>
    <ul>
      <% shorts.forEach(short => { %>
        <li>
          <a href="/shorts/<%= short._id %>"><%= short.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>
  