<div class="sidebar">
    <h2>Views Studio</h2>
    <ul class="nav-menu">
      <li>コンテンツ</li>
      <li>収益</li>
      <li>依頼</li>
      <li class="submenu">ショート        
      <li>申請</li>
      </li>
    </ul>
  </div>
  