<nav id="sidebar" class="sidebar">

    <!-- ナビゲーション -->
    <ul class="nav">
      <li>
        <a href="/">
          <span class="icon">🏠</span>
          <span class="label">ホーム</span>
        </a>
      </li>
      <li>
        <a href="/contents">
          <span class="icon">🎞</span>
          <span class="label">あなたのコンテンツ</span>
        </a>
      </li>
    </ul>
  </nav>
  