<link rel="stylesheet" href="/stylesheet/pages/upload.css">

<h1 class="page-title">単発作品をアップロード</h1>
<form action="/works/<%= work._id %>/upload" method="POST" enctype="multipart/form-data" class="upload-form" id="singleForm">


  <div class="form-group">
    <label for="duration">動画時間（分） *</label>
    <input type="number" name="duration" id="duration" min="1" required>
  </div>

  <button type="submit" class="btn-primary">アップロードして保存</button>
</form>

<script src="/js/upload.js"></script>