<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Views Studio - アップロード</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/sidebar.css">
</head>
<body>
  <!-- サイドバー -->
  <%- include('partials/sidebar') %>

  <%- include('new') %>

  <script src="/script.js"></script>
</body>
</html>
